# maximal read length 
max_rd_len=120 

[LIB] 

# Run SRR5819794 (400) - Paired-end
avg_ins=400 
reverse_seq=0 
asm_flags=2 
rd_len_cutoff=100 
rank=1 
pair_num_cutoff=3  
map_len=32 

q1=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819794.trim_1P.fastq.gz 
q2=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819794.trim_2P.fastq.gz 
q=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819794.trim_1U.fastq.gz 
q=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819794.trim_2U.fastq.gz 

# Run SRR5819795 (800) - Paired-end
avg_ins=800 
reverse_seq=0 
asm_flags=2 
rd_len_cutoff=100 
rank=1 
pair_num_cutoff=3 
map_len=32 

q1=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819795.trim_1P.fastq.gz 
q2=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819795.trim_2P.fastq.gz 
q=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819795.trim_1U.fastq.gz 
q=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819795.trim_2U.fastq.gz 

# Run SRR5819796 (8 to 10 kb) - Mate-paired
avg_ins=9000 
reverse_seq=1 
asm_flags=3 
rd_len_cutoff=100 
rank=1 
pair_num_cutoff=5 
map_len=35 

q1=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819796.trim_1P.fastq.gz 
q2=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819796.trim_2P.fastq.gz 
q=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819796.trim_1U.fastq.gz 
q=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819796.trim_2U.fastq.gz 

# Run SRR5819797 (175) - Paired-end
avg_ins=175 
reverse_seq=0 
asm_flags=2 
rd_len_cutoff=100 
rank=1 
pair_num_cutoff=3
map_len=32 

q1=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819797.trim_1P.fastq.gz 
q2=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819797.trim_2P.fastq.gz 
q=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819797.trim_1U.fastq.gz 
q=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819797.trim_2U.fastq.gz 

# Run SRR5819798 (2 to 4 kb) - Mate-paired
avg_ins=3000 
reverse_seq=1 
asm_flags=3 
rd_len_cutoff=100 
rank=1 
pair_num_cutoff=5 
map_len=35 

q1=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819798.trim_1P.fastq.gz 
q2=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819798.trim_2P.fastq.gz 
q=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819798.trim_1U.fastq.gz 
q=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819798.trim_2U.fastq.gz 

# Run SRR5819799 (5 to 6 kb) - Mate-paired
avg_ins=5500 
reverse_seq=1 
asm_flags=3 
rd_len_cutoff=100 
rank=1 
pair_num_cutoff=5 
map_len=35 

q1=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819799.trim_1P.fastq.gz 
q2=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819799.trim_2P.fastq.gz 
q=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819799.trim_1U.fastq.gz 
q=/home/stellab/private/genome_analysis/raw_data/sel3/wgs_data/sel3_SRR5819799.trim_2U.fastq.gz 


